@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
button {
	font-family: "Roboto", Tahoma, Verdana, sans-serif;
	cursor: default;
}

:root {
	--color-pure-black: #000;
	--color-chinese-blue: #3451a1;
	--color-pure-light: #fff;
}

.appWrap {
	min-height: 100vh;
	background: var(--color-chinese-blue);
}

.appContainer {
	margin-inline: auto;
	max-width: 1440px;
	width: 100%;
}
